In [256]:
import seaborn as sns

In [257]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [258]:
df= sns.load_dataset('tips')

In [259]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [260]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [261]:
from sklearn.model_selection import train_test_split

x = df.drop('total_bill',1)
y= df['total_bill']

C:\Users\91822\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [262]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30,random_state=100)

In [263]:
x_train

      tip     sex smoker   day    time  size
189  4.00    Male    Yes   Sun  Dinner     3
145  1.50  Female     No  Thur   Lunch     2
74   2.20  Female     No   Sat  Dinner     2
234  3.00    Male    Yes   Sat  Dinner     2
198  2.00  Female    Yes  Thur   Lunch     2
..    ...     ...    ...   ...     ...   ...
87   4.00    Male     No  Thur   Lunch     2
103  3.48  Female    Yes   Sat  Dinner     2
67   1.00  Female    Yes   Sat  Dinner     1
24   3.18    Male     No   Sat  Dinner     2
8    1.96    Male     No   Sun  Dinner     2

[170 rows x 6 columns]

In [264]:
x_test

      tip     sex smoker   day    time  size
65   3.15    Male     No   Sat  Dinner     3
59   6.73    Male     No   Sat  Dinner     4
191  4.19  Female    Yes  Thur   Lunch     2
111  1.00  Female     No   Sat  Dinner     1
112  4.00    Male     No   Sun  Dinner     3
..    ...     ...    ...   ...     ...   ...
117  1.50  Female     No  Thur   Lunch     2
171  3.16    Male    Yes   Sat  Dinner     2
37   3.07  Female     No   Sat  Dinner     3
124  2.52  Female     No  Thur   Lunch     2
151  2.00    Male     No   Sun  Dinner     2

[74 rows x 6 columns]

In [265]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline, make_pipeline

from sklearn.preprocessing import OneHotEncoder,StandardScaler

In [266]:
t1 = ColumnTransformer([
    ('onehot',OneHotEncoder(sparse = False,handle_unknown='ignore'),[1,2,3,4])
],remainder='passthrough')

t2 = ColumnTransformer([
    ('scale',StandardScaler(),slice(1,13))
    
])

In [267]:
df['sex'].unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [268]:
pipe = make_pipeline(t1,t2)

In [269]:
x_train=pipe.fit_transform(x_train)

In [270]:
x_train

array([[ 0.74808624, -1.18083284,  1.18083284, ..., -0.64549722,
         0.8824047 ,  0.52806002],
       [-1.33674427,  0.84685992, -0.84685992, ...,  1.54919334,
        -1.07634385, -0.58021409],
       [-1.33674427,  0.84685992, -0.84685992, ..., -0.64549722,
        -0.52789426, -0.58021409],
       ...,
       [-1.33674427, -1.18083284,  1.18083284, ..., -0.64549722,
        -1.46809357, -1.6884882 ],
       [ 0.74808624,  0.84685992, -0.84685992, ..., -0.64549722,
         0.23993518, -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, ..., -0.64549722,
        -0.71593412, -0.58021409]])

In [273]:
x_test

      tip     sex smoker   day    time  size
65   3.15    Male     No   Sat  Dinner     3
59   6.73    Male     No   Sat  Dinner     4
191  4.19  Female    Yes  Thur   Lunch     2
111  1.00  Female     No   Sat  Dinner     1
112  4.00    Male     No   Sun  Dinner     3
..    ...     ...    ...   ...     ...   ...
117  1.50  Female     No  Thur   Lunch     2
171  3.16    Male    Yes   Sat  Dinner     2
37   3.07  Female     No   Sat  Dinner     3
124  2.52  Female     No  Thur   Lunch     2
151  2.00    Male     No   Sun  Dinner     2

[74 rows x 6 columns]

In [274]:
y_train

189    23.10
145     8.35
74     14.73
234    15.53
198    13.00
       ...
87     18.28
103    22.42
67      3.07
24     19.82
8      15.04
Name: total_bill, Length: 170, dtype: float64

In [278]:
X_test = pipe.transform(x_test)

In [279]:
X_test

array([[ 0.74808624,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  0.21643019,
         0.52806002],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  3.02135813,
         1.63633412],
       [-1.33674427, -1.18083284,  1.18083284, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334,  1.03126959,
        -0.58021409],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -1.46809357,
        -1.6884882 ],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  0.8824047 ,
         0.52806002],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722, -0.29284443,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722, -0.29284443,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  0.49065499,
         1.63633412],
       [ 0.74808624,  0.84685992, -0.84685992,  3.62859018, -0.72906209,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -1.07634385,
        -0.58021409],
       [ 0.74808624, -1.18083284,  1.18083284, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334,  1.66590413,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722, -0.68459414,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -0.29284443,
         1.63633412],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334,  2.33187864,
        -0.58021409],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334,  1.79909903,
         1.63633412],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  1.66590413,
         2.74460823],
       [ 0.74808624, -1.18083284,  1.18083284, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  0.49065499,
         0.52806002],
       [ 0.74808624, -1.18083284,  1.18083284, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -0.6140792 ,
        -0.58021409],
       [ 0.74808624, -1.18083284,  1.18083284,  3.62859018, -0.72906209,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -1.07634385,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334,  0.41230505,
        -0.58021409],
       [ 0.74808624, -1.18083284,  1.18083284, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722, -1.07634385,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  1.66590413,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334,  1.66590413,
         2.74460823],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  2.3867236 ,
         0.52806002],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722, -0.10480457,
         0.52806002],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334,  1.03910459,
         3.85288233],
       [ 0.74808624, -1.18083284,  1.18083284, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334,  0.8824047 ,
         1.63633412],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -0.68459414,
        -0.58021409],
       [-1.33674427, -1.18083284,  1.18083284,  3.62859018, -0.72906209,
        -0.6638358 , -0.61815356, -1.54919334,  1.54919334,  0.474985  ,
        -0.58021409],
       [-1.33674427, -1.18083284,  1.18083284, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -0.50438928,
        -0.58021409],
       [-1.33674427, -1.18083284,  1.18083284, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334, -0.67675915,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -0.18315451,
         0.52806002],
       [ 0.74808624, -1.18083284,  1.18083284, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -1.12335382,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  0.3417901 ,
        -0.58021409],
       [ 0.74808624, -1.18083284,  1.18083284, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -0.68459414,
         1.63633412],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  0.09890528,
        -0.58021409],
       [ 0.74808624, -1.18083284,  1.18083284,  3.62859018, -0.72906209,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  0.8824047 ,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  4.79990182,
         1.63633412],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334,  0.49065499,
        -0.58021409],
       [ 0.74808624, -1.18083284,  1.18083284,  3.62859018, -0.72906209,
        -0.6638358 , -0.61815356, -1.54919334,  1.54919334, -1.0136639 ,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722, -0.26150445,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  0.09890528,
        -0.58021409],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334, -0.68459414,
        -0.58021409],
       [-1.33674427, -1.18083284,  1.18083284, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  0.49065499,
         0.52806002],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  1.40734932,
         0.52806002],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -1.27221871,
        -0.58021409],
       [-1.33674427, -1.18083284,  1.18083284, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  2.84115326,
         0.52806002],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  0.37313008,
         0.52806002],
       [ 0.74808624, -1.18083284,  1.18083284, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -0.68459414,
         0.52806002],
       [ 0.74808624, -1.18083284,  1.18083284, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -0.70026413,
        -0.58021409],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  0.09890528,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  0.14591525,
        -0.58021409],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  0.49065499,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  0.474985  ,
         0.52806002],
       [ 0.74808624, -1.18083284,  1.18083284,  3.62859018, -0.72906209,
        -0.6638358 , -0.61815356, -1.54919334,  1.54919334, -0.7472741 ,
        -1.6884882 ],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722, -0.64541917,
         0.52806002],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -1.09984884,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  3.68733264,
         1.63633412],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334, -0.68459414,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  0.49848999,
        -0.58021409],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -0.50438928,
        -0.58021409],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  1.82260401,
         1.63633412],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  1.66590413,
         3.85288233],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334, -0.09696958,
        -0.58021409],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  0.68652985,
         1.63633412],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  1.66590413,
         1.63633412],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722,  0.81972475,
        -0.58021409],
       [-1.33674427, -1.18083284,  1.18083284,  3.62859018, -0.72906209,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  0.09890528,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -0.41820434,
         1.63633412],
       [-1.33674427, -1.18083284,  1.18083284, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722, -0.99015892,
        -0.58021409],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334, -1.07634385,
        -0.58021409],
       [ 0.74808624, -1.18083284,  1.18083284, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  0.22426519,
        -0.58021409],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913,  1.37162529,
        -0.6638358 , -0.61815356,  0.64549722, -0.64549722,  0.15375024,
         0.52806002],
       [-1.33674427,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
        -0.6638358 ,  1.61772101, -1.54919334,  1.54919334, -0.27717444,
        -0.58021409],
       [ 0.74808624,  0.84685992, -0.84685992, -0.27558913, -0.72906209,
         1.50639662, -0.61815356,  0.64549722, -0.64549722, -0.68459414,
        -0.58021409]])

In [282]:
from sklearn.tree import DecisionTreeRegressor
clf = DecisionTreeRegressor()
clf.fit(x_train,y_train)

DecisionTreeRegressor()

In [295]:
y_pred = clf.predict(X_test)
y_pred[0]

19.82

In [286]:
pickle.dump(clf,open('clf.pkl','wb'))

In [287]:
import pickle

In [288]:
pickle.dump(pipe,(open('k.pkl','wb')))

In [289]:
pickled = pickle.load(open('k.pkl','rb'))

In [290]:
pickled

Pipeline(steps=[('columntransformer-1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehot',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  [1, 2, 3, 4])])),
                ('columntransformer-2',
                 ColumnTransformer(transformers=[('scale', StandardScaler(),
                                                  slice(1, 13, None))]))])

In [291]:
import numpy as np
i = np.array([4.00,'Male','Yes','Sun','Dinner',3],dtype = object).reshape(1,6)

In [292]:
i

array([[4.0, 'Male', 'Yes', 'Sun', 'Dinner', 3]], dtype=object)

In [293]:
pick_mod= pickle.load(open('clf.pkl','rb'))

In [294]:
pick_mod.predict(pipe.transform(i))

array([23.1])