In [57]:
import numpy as np
import pandas as pd

In [58]:
df = pd.read_csv('customer.csv')

In [59]:
df.head(5)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [60]:
df = df.iloc[:,2:]

In [61]:
df.head() # check which column is ordinal and nominal data

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [62]:
from sklearn.preprocessing import OrdinalEncoder

X = df[['review','education']]
y = df['purchased']

In [63]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [64]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [65]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [66]:
X_train_encode = oe.transform(X_train)

In [67]:
X_train

     review education
24  Average        PG
48     Good        UG
17     Poor        UG
12     Poor    School
27     Poor        PG
33     Good        PG
16     Poor        UG
2      Good        PG
25     Good    School
14     Poor        PG
30  Average        UG
5   Average    School
32  Average        UG
1      Poor        UG
29  Average        UG
35     Poor    School
41     Good        PG
19     Poor        PG
37  Average        PG
10     Good        UG
4   Average        UG
6      Good    School
3      Good        PG
20  Average    School
26     Poor        PG
38     Good    School
21  Average        PG
42     Good        PG
31     Poor    School
34  Average    School
7      Poor    School
49     Good        UG
11     Good        UG
18     Good    School
43     Poor        PG
22     Poor        PG
8   Average        UG
45     Poor        PG
15     Poor        UG
40     Good    School

In [68]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [69]:
X_train

     review education
24  Average        PG
48     Good        UG
17     Poor        UG
12     Poor    School
27     Poor        PG
33     Good        PG
16     Poor        UG
2      Good        PG
25     Good    School
14     Poor        PG
30  Average        UG
5   Average    School
32  Average        UG
1      Poor        UG
29  Average        UG
35     Poor    School
41     Good        PG
19     Poor        PG
37  Average        PG
10     Good        UG
4   Average        UG
6      Good    School
3      Good        PG
20  Average    School
26     Poor        PG
38     Good    School
21  Average        PG
42     Good        PG
31     Poor    School
34  Average    School
7      Poor    School
49     Good        UG
11     Good        UG
18     Good    School
43     Poor        PG
22     Poor        PG
8   Average        UG
45     Poor        PG
15     Poor        UG
40     Good    School

In [70]:
from sklearn.preprocessing import LabelEncoder

In [71]:
le = LabelEncoder()  # use only on target variables

In [72]:
le.fit(y_train)

LabelEncoder()

In [73]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [74]:
y_train_encode = le.transform(y_train)
y_test_encode = le.transform(y_test)

In [77]:
y_train_encode

array([1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0])

In [78]:
y_test_encode

array([1, 1, 0, 1, 0, 0, 0, 0, 0, 0])

In [79]:
X_train_encode

array([[1., 2.],
       [2., 1.],
       [0., 1.],
       [0., 0.],
       [0., 2.],
       [2., 2.],
       [0., 1.],
       [2., 2.],
       [2., 0.],
       [0., 2.],
       [1., 1.],
       [1., 0.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [0., 0.],
       [2., 2.],
       [0., 2.],
       [1., 2.],
       [2., 1.],
       [1., 1.],
       [2., 0.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [2., 0.],
       [1., 2.],
       [2., 2.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [2., 1.],
       [2., 1.],
       [2., 0.],
       [0., 2.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [0., 1.],
       [2., 0.]])